.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 250ms linear 250ms;
}

.modal {
    max-width: 528px;
    padding: 40px;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    background-color: $white-color;
    transition: transform 250ms linear 150ms;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
    transform: translateX(-50%) scale(0);
    transition: transform 250ms linear 0s;
}



/* Заполнение модалки */

.btn-modal {
    outline: none;

    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: $primary-title-color;
}

.btn-modal:hover {
    color: $accept-color;
}

.modal-icon {
    fill: currentColor;
}

.section-title-top {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 0.03em;
}


.btn-modal-push {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 200px;
    height: 50px;
    border: 0 solid transparent;
    color: $white-color;
    background-color: $accept-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0;
    padding: 0;
}

.modal-title-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contact-form-massage {

    padding: 12px 16px;
    width: 100%;
    height: 120px;

    background: $white-color;
    border-radius: 4px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    outline: none;
}


.form-input-mail::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}


.contact-form-text {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    outline: none;
}

.text-dec-label {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $primary-text-color;
    transform: translateY(-100%);
    top: -4px;
}

.accept-text-desc {
    display: inline;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.03em;
    border-bottom: 2px solid var (--accept-color);
    color: $accept-color;
}

.confirmation {
    justify-content: center;
    display: flex;
    align-items: center;
}

.confirmation-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}

.icon-form-input {
    top: 11px;
    left: 12px;
    position: absolute;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    fill: $primary-title-color;
}

.modal-form-field {
    max-height: 120px;
    position: relative;
}

.modal-form-field:not(:nth-child(4)) {
    margin-bottom: 28px;
    position: relative;
}

.modal-form-confirmation {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
}



.contact-form-text:hover,
.contact-form-text:focus {
    border-color: $accept-color;
}

.contact-form-massage:hover,
.contact-form-massage:focus {
    border-color: $accept-color;
}

.modal-form-field:hover,
.modal-form-field:focus {
    color: $accept-color;
}


.contact-form-text:focus~.icon-form-input,
.contact-form-text:hover~.icon-form-input {
    fill: $accept-color;
}



.confirmation::before {
    content: "";
    width: 16px;
    height: 15px;
    background: url(../images/vector-box.svg);
    margin-right: 7px;
}


.contact-form-input:checked+.confirmation::before {
    background-image: url(../images/icon-check.svg);
}

.contact-form-input:checked+.confirmation .confirmation-title {
    color: $accept-color;

}